body {
    text-align: center;
    background-color: #48f542;

}

.section-style {
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}

.image-section {
    display: flex;
    justify-content: center;
}

div {
    margin-top: 15px;
}
img{
    width:175px;
    height:150px;
}